<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Receptionist</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h1>AI Receptionist</h1>
    <div id="response"></div>
    <div class="center">
    <button class="button1" onclick="startListening()">Start Listening</button></div></div>
    <div id="circle"></div>
    <script>
        function startListening() {
            const recognition = new window.webkitSpeechRecognition();
            recognition.continuous = false;
            recognition.interimResults = false;
            recognition.lang = 'en-US';
            document.getElementById('circle').style.animationPlayState = 'running';
            recognition.onresult = function(event) {
                const userInput = event.results[0][0].transcript;
                sendData(userInput);
                document.getElementById('circle').style.animationPlayState = 'paused';
            }

            recognition.start();
        }

        async function sendData(userInput) {
            const formData = new FormData();
            formData.append('user_input', userInput);

            const response = await fetch("/ask", {
                method: "POST",
                body: formData
            });

            const data = await response.json();
            document.getElementById("response").innerText = data.response;
            speakResponse(data.response);
        }

        function speakResponse(response) {
            const utterance = new SpeechSynthesisUtterance(response);
            window.speechSynthesis.speak(utterance);
        }
// Some random colors
const colors = ["#3CC157", "#2AA7FF", "#1B1B1B", "#FCBC0F", "#F85F36"];

const numBalls = 25;
const balls = [];

for (let i = 0; i < numBalls; i++) {
  let ball = document.createElement("div");
  ball.classList.add("ball");
  ball.style.background = colors[Math.floor(Math.random() * colors.length)];
  ball.style.left = `${Math.floor(Math.random() * 100)}vw`;
  ball.style.top = `${Math.floor(Math.random() * 100)}vh`;
  ball.style.transform = `scale(${Math.random()})`;
  ball.style.width = `8px`;
  ball.style.height = '8px';
  
  balls.push(ball);
  document.body.append(ball);
}

// Keyframes
balls.forEach((el, i, ra) => {
  let to = {
    x: Math.random() * (i % 2 === 0 ? -11 : 11),
    y: Math.random() * 12
  };

  let anim = el.animate(
    [
      { transform: "translate(0, 0)" },
      { transform: `translate(${to.x}rem, ${to.y}rem)` }
    ],
    {
      duration: (Math.random() + 2) * 5000, // random duration
      direction: "alternate",
      fill: "both",
      iterations: Infinity,
      easing: "ease-in-out"
    }
  );
});

    </script>
</body>
</html>